<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-3">
            <c-card-body>

              <form cForm (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <c-row class="justify-content-center">
                  <c-col class="col-md-12 d-flex justify-content-center align-items-center">
                    <img src="assets/img/logo-corriente.png" class="logo" alt="Elite-logo">
                  </c-col>
                  <c-col class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
                    <h3><strong>Corriente Renovadora Moderna</strong></h3>
                  </c-col>
                  <c-col class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center align-items-center">
                    <h3><strong>Elite</strong></h3>
                  </c-col>
                </c-row>
                <p class="text-medium-emphasis text-center">Inicia Sesi&oacute;n en tu cuenta</p>

                <c-input-group class="mb-3 form-group">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    id="document"
                    type="text"
                    formControlName="document"
                    class="form-control"
                    cFormControl
                    placeholder="C&eacute;dula"
                    mask="000-0000000-0"
                    [showMaskTyped]="true"
                    required />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    id="password"
                    formControlName="password"
                    required
                    cFormControl
                    placeholder="Password"
                    type="password"
                    required
                  />
                </c-input-group>

                <c-row *ngIf="errorLogin" class="justify-content-center">
                  <c-col md="12">
                    <c-alert color="danger">{{errorLogin}}</c-alert>
                  </c-col>
                </c-row>

                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit" [disabled]="!loginForm.valid">
                      Iniciar Sesi&oacute;n
                    </button>
                  </c-col>
                </c-row>

              </form>

            </c-card-body>
          </c-card>


        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
