<app-toasts [color]="colorToats" [txtToats]="txtToast"></app-toasts>
<c-row>
  <c-col xs>
    <c-card class="mb-4">

      <c-card-header>
        <strong *ngIf="user?.length">
          Cambiar contraseña de: {{ user[0].first_name | titlecase }} {{ user[0].last_name | titlecase }}
        </strong>
      </c-card-header>

      <c-card-body>

        <form [formGroup]="passwordForm"
          (ngSubmit)="onSubmit()"
          [gutter]="3"
          [validated]="formValidated"
          novalidate
          cForm cRow
          class="needs-validation"
        >

          <c-col [md]="6">
            <label cLabel for="password">Contrase&ntilde;a</label>
            <input
              cFormControl
              type="password"
              id="password"
              formControlName="password"
              placeholder="Digita una contrase&ntilde;a"
              required
              [class.is-invalid]="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
            />
            <!-- Feedback personalizado -->
            <c-form-feedback *ngIf="passwordForm.get('password')?.errors?.['required']">
              El password es requerido.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('password')?.errors?.['pattern']">
              Solo se permiten letras y espacios.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('password')?.errors?.['onlySpace']">
              El campo no puede estar vacío o tener solo espacios.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('password')?.errors?.['mismatch']">
              Las contraseñas no coinciden.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('password')?.valid">
              ¡Luce bien!
            </c-form-feedback>
          </c-col>

          <c-col [md]="6">
            <label cLabel for="confirmPassword">Confirmar Contrase&ntilde;a</label>
            <input
              cFormControl
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Vuelve a digitar la contrase&ntilde;a"
              required
              [class.is-invalid]="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched"
            />
            <!-- Feedback personalizado -->
            <c-form-feedback *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
              El password es requerido.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('confirmPassword')?.errors?.['pattern']">
              Solo se permiten letras y espacios.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('confirmPassword')?.errors?.['onlySpace']">
              El campo no puede estar vacío o tener solo espacios.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('confirmPassword')?.errors?.['mismatch']">
              Las contraseñas no coinciden.
            </c-form-feedback>
            <c-form-feedback *ngIf="passwordForm.get('confirmPassword')?.valid">
              ¡Luce bien!
            </c-form-feedback>
          </c-col>

          <hr>

          <c-col [xs]="12">
            <button cButton class="me-1" color="primary" type="submit"
            [disabled]="passwordForm.invalid || passwordForm.errors?.['mismatch']">
              Actualizar
            </button>
            <button (click)="onReset()" cButton color="secondary" type="reset">
              Borrar
            </button>
          </c-col>

        </form>

      </c-card-body>

    </c-card>
  </c-col>
</c-row>
