<c-row>
  <c-col sm="6" lg="3">
    <c-card class="mb-4 text-white bg-success">
      <c-card-body>
        <div class="fs-4 fw-semibold">{{ dash?.cards?.total_members | number }}</div>
        <div>Total de Miembros</div>
        <svg [cIcon]="icons.cilChartPie" height="32" class="mt-3 opacity-75"></svg>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col sm="6" lg="3">
    <c-card class="mb-4 text-white bg-info">
      <c-card-body>
        <div class="fs-4 fw-semibold">{{ dash?.cards?.new_month_members | number }}</div>
        <div>Este Mes</div>
        <svg [cIcon]="icons.cilCalendar" height="32" class="mt-3 opacity-75"></svg>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col sm="6" lg="3">
    <c-card class="mb-4 text-white bg-danger">
      <c-card-body>
        <div class="fs-4 fw-semibold">{{ dash?.cards?.female | number }}</div>
        <div>Mujeres</div>
        <svg [cIcon]="icons.cilUserFemale" height="32" class="mt-3 opacity-75"></svg>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col sm="6" lg="3">
    <c-card class="mb-4 text-white bg-primary">
      <c-card-body>
        <div class="fs-4 fw-semibold">{{ dash?.cards?.males | number }}</div>
        <div>Hombres</div>
        <svg [cIcon]="icons.cilUser" height="32" class="mt-3 opacity-75"></svg>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>








<!-- <app-widgets-dropdown {
  Chart,
  registerables
} from 'chart.js';

Chart.register(...registerables);opdown></app-widgets-dropdown> -->
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Miembros</h4>
        <div class="small text-medium-emphasis">Enero - Diciembre {{currentYear}}</div>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="3" [xs]="1">

      <c-col class="mb-sm-4 mb-0">
        <div class="text-medium-emphasis">Miembros</div>
        <strong>{{ dash?.cards?.total_members | number }}</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="100"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-4 mb-0">
        <div class="text-medium-emphasis">Mujeres</div>
        <strong>{{ dash?.cards?.female | number }} ({{getProgress(dash?.cards?.female, dash?.cards?.total_members) | number:'1.0-0'}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="{{getProgress(dash?.cards?.female, dash?.cards?.total_members) | number:'1.0-0'}}"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-4 mb-0">
        <div class="text-medium-emphasis">Hombres</div>
        <strong>{{ dash?.cards?.males | number }} ({{getProgress(dash?.cards?.males, dash?.cards?.total_members) | number:'1.0-0'}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="{{getProgress(dash?.cards?.males, dash?.cards?.total_members) | number:'1.0-0'}}"></c-progress-bar>
        </c-progress>
      </c-col>
      <!-- <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col> -->
      <!-- <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col> -->

    </c-row>
  </c-card-footer>
</c-card>

<!-- <app-widgets-brand [withCharts]="true"></app-widgets-brand> -->

<c-row *ngIf="role === 'admin' || role === 'digitador'">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Regiones {{ "&" }} Zonas</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">

            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Regiones</div>
                  <div class="fs-5 fw-semibold">{{ dash?.region_counts?.regions | number }}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Zonas</div>
                  <div class="fs-5 fw-semibold">{{ dash?.region_counts?.zones | number }}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Regiones</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div *ngFor="let region of dash?.regions; let i = index" class="progress-group">
              <div class="progress-group-header">
                <span><strong>{{ i + 1 }})</strong> {{ region?.name | uppercase }}</span>
                <span class="ms-auto font-semibold">
                  {{ region?.total | number }} <span class="text-medium-emphasis small">({{getProgress(region.total, dash?.cards?.total_members) | number:'1.0-0'}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="danger" [value]="getProgress(region.female, region.total)"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="info" [value]="getProgress(region.male, region.total)"></c-progress-bar>
                </c-progress>
              </div>
            </div>



            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-danger">&nbsp;</span>
                </sup>
                <span>Mujeres</span>
                &nbsp;&nbsp;
                <sup>
                  <span class="badge badge-pill badge-sm bg-info">&nbsp;</span>
                </sup>
                <span>Hombres</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Zonas</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div *ngFor="let zone of dash?.zones; let i = index" class="progress-group">
              <div class="progress-group-header">

                <span><strong>{{ i + 1}})</strong> {{ zone?.name | uppercase }}</span>
                <span class="ms-auto font-semibold">
                  {{ zone.total | number }} <span class="text-medium-emphasis small">({{getProgress(zone.total, dash?.cards?.total_members) | number:'1.0-0'}}%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="danger" [value]="getProgress(zone.female, zone.total)"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="info" [value]="getProgress(zone.male, zone.total)"></c-progress-bar>
                </c-progress>
              </div>
            </div>


          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row *ngIf="role === 'admin' || role === 'digitador'">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Coordinadores</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                #
              </th>
              <th>Nombre</th>
              <th class="text-center">Total Miembros</th>
              <th class="text-center">Mujeres</th>
              <th class="text-center">Hombres</th>
              <th>Distribuci&oacute;n</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coordinator of dash?.top; let i = index">
              <th class="text-center">
                {{ i + 1 }}
              </th>
              <td>
                <div>{{ coordinator.responsible_name | titlecase }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ coordinator.responsible_role | titlecase }} | {{ coordinator?.coordinator_region_name | uppercase }}
                  </span>
                </div>
              </td>
              <td class="text-center">
               {{ coordinator.total_members | number}}
              </td>
              <td class="text-center">
               {{ coordinator.female | number}}
              </td>
              <td class="text-center">
               {{ coordinator.male | number}}
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ getProgress(coordinator?.total_members, dash?.cards?.total_members) | number:'1.0-0' }}%</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{ coordinator.total_members | number }}
                    </small>
                  </div>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="danger" [value]="getProgress(coordinator.female, coordinator.total_members)"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="getProgress(coordinator.male, coordinator.total_members)"></c-progress-bar>
                  </c-progress>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6" *ngIf="dash?.top">Total: {{ dash?.top?.length  }} resultados.</th>
            </tr>
          </tfoot>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
