<app-search-box
(onDebounce)="loadMembers(currentPage, $event)"
[initialValue]="initialValue"
placeholder="Buscar por nombre o c&eacute;dula"
[showCoordinator]="showSelects"
[showRegion]="showSelects"
[showZone]="showSelects"
[showNew]="showSelects"
[showDownload]="showDownload"
[coordinators]="coordinators"
[regions]="regions"
[zones]="zones"
[regionSeleccionada]="regionSeleccionada"
[zonaSeleccionada]="selectZones"
[newSeleccionado]="newSeleccionado"
(onCoordinator)="onCoordinatorChange($event)"
(onRegion)="onRegionChange($event)"
(onZone)="onZoneChange($event)"
(onNew)="onNewChange($event)"
(onDownload)="onDownloadExcel($event)"
></app-search-box>

<c-row>
  <c-col class="col-12">
    <c-card class="mb-4">
      <c-card-header>Listado de Miembros</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          align="middle"
          class="mb-0 border"
          cTable>
          <thead cTableColor="light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">C&eacute;dula</th>
            <th scope="col">Celular</th>
            <th scope="col">Genero</th>
            <th scope="col">Zona</th>
            <th scope="col">Coordinador</th>
            <th scope="col">Nuevo</th>
            <th scope="col">Inscripci&oacute;n</th>
            <th *ngIf="role === 'admin'" scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody *ngIf="members.length > 0; else noMembers">
            <tr *ngFor="let member of members">
              <td scope="row">{{ member.id }}</td>
              <th>{{ member.first_name | titlecase }} {{ member.last_name | titlecase }}</th>
              <td>{{ member.document | pipeDocument }}</td>
              <td>{{ member.phone | phoneFormat }}</td>
              <td style="text-align: center;">{{ member.gender || '' | titlecase }}</td>
              <td style="text-align: center;">{{ member.zone.name | titlecase }}</td>
              <td>{{ member.register?.coordinator_name || 'Editor' | titlecase }}</td>
              <td style="text-align: center;">{{ (member.new_member === 1) ? 'Si' : 'No' }}</td>
              <td>{{ member.create_date | dateFormat }}</td>
              <td *ngIf="role === 'admin'">
                <!-- Botón Editar -->
                <button
                  cButton
                  color="warning"
                  size="sm"
                  class="me-2"
                  [routerLink]="['./edit/',member.id]">
                  <c-icon [name]="'cilPencil'" size="sm" title="Editar"></c-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <ng-template #noMembers>
            <tbody>
              <th colspan="8" style="text-align: center;">No hay resultados...</th>
            </tbody>
          </ng-template>
        </table>


        <br>
        <div *ngIf="pagination">
          <div align="start">Total: {{ pagination.total }} resultados.</div>
        </div>

        <c-pagination *ngIf="pagination && members?.length" align="end" aria-label="Page navigation example">

          <!-- Botón Anterior -->
          <li cPageItem [class.disabled]="pagination.current_page == 1">
            <a cPageLink (click)="loadMembers(pagination.current_page - 1, initialValue)">Anterior</a>
          </li>

          <!-- Números de página -->
          <li cPageItem
              *ngFor="let page of [].constructor(pagination.total_pages); let i = index"
              [class.active]="pagination.current_page === i + 1"
            >
            <a cPageLink (click)="loadMembers(i + 1, initialValue)">{{ i + 1 }}</a>
          </li>

          <li cPageItem [class.disabled]="(pagination.current_page === pagination.total_pages)">
            <a cPageLink (click)="loadMembers(pagination.current_page + 1, initialValue)">Siguiente</a>
          </li>
        </c-pagination>

    </c-card-body>
    </c-card>
  </c-col>
</c-row>



