<c-row class="mb-2">
  <c-col class="col-12">
    <c-card>
      <c-card-header>
        <c-row class="align-items-center g-2"> <!-- g-2 para separar -->

          <!-- Buscar -->
          <c-col xs="12" sm="2" md="1">
            <label cLabel for="search">Buscar:</label>
          </c-col>

          <c-col xs="12" sm="10" md="3">
            <input
              type="text"
              cFormControl
              id="search"
              class="w-100"
              [value]="initialValue"
              [placeholder]="placeholder"
              (keyup)="onKeyPress(txtInput.value)"
              #txtInput
            />
          </c-col>

          <!-- Coordinador -->
          <ng-container *ngIf="showCoordinator">
            <c-col xs="12" sm="6" md="2">
              <select
                cSelect
                id="coordinator"
                class="w-100"
                (change)="onCoordinatorChange($event)"
                required
              >
                <option value="">Coordinador...</option>
                <option *ngFor="let coordinator of coordinators" [value]="coordinator.id">
                  {{ coordinator.first_name | titlecase }} {{ coordinator.last_name | titlecase }}
                </option>
              </select>
            </c-col>
          </ng-container>

          <!-- Región -->
          <ng-container *ngIf="showRegion">
            <c-col xs="12" sm="6" md="2">
              <select
                cSelect
                id="region"
                class="w-100"
                [(ngModel)]="regionSeleccionada"
                (change)="onRegionChange($event)"
                required
              >
                <option value="">Región...</option>
                <option *ngFor="let region of regions" [value]="region.id">
                  {{ region.name | uppercase }}
                </option>
              </select>
            </c-col>
          </ng-container>

          <!-- Zona -->
          <ng-container *ngIf="showZone">
            <c-col xs="12" sm="6" md="2">
              <select
                cSelect
                id="zone"
                class="w-100"
                [(ngModel)]="zonaSeleccionada"
                (change)="onZoneChange($event)"
                required
              >
                <option value="">Zona...</option>
                <option *ngFor="let zone of zones" [value]="zone.id">
                  {{ zone.name | uppercase }}
                </option>
              </select>
            </c-col>
          </ng-container>

          <ng-container *ngIf="showDownload">
            <c-col xs="12" sm="6" md="2">
              <button
                  cButton
                  color="success"
                  size="sm"
                  class="me-2"
                  (click)="onDownloadExcel($event)">
                  <c-icon [name]="'cilCloudDownload'" size="sm" title="Desactivar"></c-icon>
                </button>
            </c-col>
          </ng-container>

        </c-row>
      </c-card-header>
    </c-card>
  </c-col>
</c-row>
